image: python:3.7

stages:
  - tests_docs_wheel
  - push_docs_wheel

variables:
  NEXUS_REPOSITORY: "nexus.signintra.com/repository/GDSA-PyPi"
  NEXUS_STATIC: "nexus.signintra.com/repository/GDSA-static"

before_script:
  - pip install pipenv
  - pipenv install --system --deploy --dev

Tests:
    stage: tests_docs_wheel
    script:
      - python setup.py test

Docs:
    stage: tests_docs_wheel
    script:
      - python setup.py docs
    artifacts:
      paths:
        - ./build/sphinx/html/*
      expire_in: 30 minutes

Build Python Wheel:
    stage: tests_docs_wheel
    script:
        - python setup.py bdist_wheel
    artifacts:
      paths:
        - ./dist/*.whl
      expire_in: 30 minutes

Push Python Wheel:
    stage: push_docs_wheel
    script:
      - twine upload -u ${NEXUS_LOGIN} -p ${NEXUS_PASSWORD} --repository-url https://${NEXUS_REPOSITORY}/ dist/*
    only:
      refs:
        - tags

Push static documentation:
    stage: push_docs_wheel
    script:
      - cd build/sphinx/html
      - find . -type f -exec curl -u ${NEXUS_LOGIN}:${NEXUS_PASSWORD}
        --ftp-create-dirs -T {} https://${NEXUS_STATIC}/packages/hcl-model/docs/{} \;
    only:
      refs:
        - tags
