image: python:3.7

stages:
  - tests
  - docs
  - build_wheel
  - push_wheel
  - push_docs

variables:
  NEXUS_REPOSITORY: "nexus.signintra.com/repository/GDSA-PyPi"
  NEXUS_STATIC: "nexus.signintra.com/repository/GDSA-static"

before_script:
  - export PYTHONPATH=$(pwd)/src
  - pip install pipenv
  - pipenv install --system --deploy --skip-lock

Tests:
    stage: tests
    script:
      - python setup.py test

Docs:
    stage: docs
    before_script:
      - export PYTHONPATH=$(pwd)/src
      - pip install pipenv
      - pipenv install --system --deploy --skip-lock --dev
    script:
      - python setup.py docs
    artifacts:
      paths:
        - ./build/sphinx/html/*
      expire_in: 30 minutes

Build Python Wheel:
    stage: build_wheel
    script:
        - python setup.py bdist_wheel
    artifacts:
      paths:
        - ./dist/*.whl
      expire_in: 30 minutes

Push Python Wheel:
    stage: push_wheel
    before_script:
      - export PYTHONPATH=$(pwd)/src
      - pip install pipenv
      - pipenv install --system --deploy --skip-lock --dev
    script:
      - twine upload -u ${NEXUS_LOGIN} -p ${NEXUS_PASSWORD} --repository-url https://${NEXUS_REPOSITORY}/ dist/*
    only:
      changes:
        - src/**/*
        - .gitlab-ci.yml
      refs:
        - master

Push static documentation:
    stage: push_docs
    script:
      - cd build/sphinx/html
      - find . -type f -exec curl -u ${NEXUS_LOGIN}:${NEXUS_PASSWORD}
        --ftp-create-dirs -T {} https://${NEXUS_STATIC}/packages/hcl-model/docs/{} \;
    only:
      changes:
        - src/**/*
        - .gitlab-ci.yml
      refs:
        - master
