image: docker.signintra.com/gdsa/dsa002-dockerhub-copies/python:3.9

stages:
  - tests_and_docs
  - publish_package_and_docs

variables:
  NEXUS_REPOSITORY: "nexus.signintra.com/repository/GDSA-PyPi"
  NEXUS_STATIC: "nexus.signintra.com/repository/GDSA-static"
  PACKAGE_NAME: "hcl-model"

Tests:
    stage: tests_and_docs
    before_script:
      - pip install -e .[test]
    script:
      - pytest --cov hcl_model

Docs:
    stage: tests_and_docs
    before_script:
      - pip install -e .[doc]
    script:
      - mkdocs build
    artifacts:
      paths:
        - site
      expire_in: 30 minutes

Build and Push Python Wheel:
  stage: publish_package_and_docs
  before_script:
    - pip install .[deploy]
    - python -m build
  script:
    - twine upload -u ${NEXUS_USER} -p ${NEXUS_PASSWORD} --repository-url https://${NEXUS_REPOSITORY}/ dist/*
  only:
    refs:
      - tags

Push static documentation:
  stage: publish_package_and_docs
  script:
    - cd site
    - find . -type f -exec curl -u ${NEXUS_USER}:${NEXUS_PASSWORD}
      --ftp-create-dirs -T {} https://${NEXUS_STATIC}/packages/${PACKAGE_NAME}/docs/{} \;
  only:
    refs:
      - tags
